@import 'tailwindcss';

@plugin '../hero.ts';
@source 'node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@plugin 'tailwindcss-animate';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@config "../tailwind.config.js";

@layer components {
    .underline-hover-active {
        @apply relative inline-block
           after:absolute after:left-0 after:-bottom-2
           after:h-1 after:w-full
           after:bg-primary-300
           after:origin-left
           after:scale-x-0
           after:transition-transform after:duration-300;

        &:hover::after {
            @apply scale-x-100;
        }

        &[data-active='true']::after {
            @apply scale-x-100;
        }

        &[data-active='true'] {
            @apply text-primary font-medium;
        }
    }
}
